[Unit]
Description=PS4 Joystick service

[Service]
ExecStartPre=/bin/hciconfig hciX up
ExecStart=/usr/local/bin/ds4drv
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
